<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.activiti.mapper.BizSellMapper">
    
    <resultMap type="BizSellVo" id="BizSellResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="productName"    column="product_name"    />
        <result property="sku"    column="sku"    />
        <result property="marketResearch"    column="market_research"    />
        <result property="sellingPointAna"    column="selling_point_ana"    />
        <result property="painPointAna"    column="pain_point_ana"    />
        <result property="sellStrategy"    column="sell_strategy"    />
        <result property="keywords"    column="keywords"    />
        <result property="fivepoint"    column="fivepoint"    />
        <result property="description"    column="description"    />
        <result property="photoNeed"    column="photo_need"    />
        <result property="businessPlan"    column="business_plan"    />
        <result property="instanceId"    column="instance_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="applyUser"    column="apply_user"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="attachment"    column="attachment"    />
        <result property="attachmentName"    column="attachmentName"    />
        <result property="price"    column="price"    />
        <result property="product_title"    column="product_title"    />

        <result property="sell_month"    column="sell_month"    />
        <result property="sell_count"    column="sell_count"    />
        <result property="sell_amount"    column="sell_amount"    />
        <result property="sell_profitRate"    column="sell_profitRate"    />
        <result property="sell_profit"    column="sell_profit"    />

        <result property="ad_perPrice"    column="ad_perPrice"    />
        <result property="ad_tarnsRate"    column="ad_tarnsRate"    />
        <result property="ad_tarnsCount"    column="ad_tarnsCount"    />
        <result property="ad_clickRate"    column="ad_clickRate"    />
        <result property="ad_click"    column="ad_click"    />
        <result property="ad_exposureRate"    column="ad_exposureRate"    />
        <result property="ad_fee"    column="ad_fee"    />
        <result property="ad_perCount"    column="ad_perCount"    />
        <result property="ad_perClick"    column="ad_perClick"    />
        <result property="ad_perFee"    column="ad_perFee"    />
    </resultMap>

    <sql id="selectBizSellVo">
        select id, title, product_name, sku, market_research, selling_point_ana, pain_point_ana, sell_strategy, keywords, fivepoint, description, photo_need, business_plan, instance_id, create_by, create_time, update_by, update_time, apply_user, apply_time,attachment,attachmentName,price,product_title,
        sell_month,sell_count,sell_amount,sell_profitRate,sell_profit,
        ad_perPrice,ad_tarnsRate,ad_tarnsCount,ad_clickRate,ad_click,ad_exposureRate,ad_fee,ad_perCount,ad_perClick,ad_perFee
        from biz_sell
    </sql>

    <select id="selectBizSellList" parameterType="BizSellVo" resultMap="BizSellResult">
        <include refid="selectBizSellVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="sku != null  and sku != ''"> and sku = #{sku}</if>
            <if test="marketResearch != null  and marketResearch != ''"> and market_research = #{marketResearch}</if>
            <if test="sellingPointAna != null  and sellingPointAna != ''"> and selling_point_ana = #{sellingPointAna}</if>
            <if test="painPointAna != null  and painPointAna != ''"> and pain_point_ana = #{painPointAna}</if>
            <if test="sellStrategy != null  and sellStrategy != ''"> and sell_strategy = #{sellStrategy}</if>
            <if test="keywords != null  and keywords != ''"> and keywords = #{keywords}</if>
            <if test="fivepoint != null  and fivepoint != ''"> and fivepoint = #{fivepoint}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="photoNeed != null  and photoNeed != ''"> and photo_need = #{photoNeed}</if>
            <if test="businessPlan != null  and businessPlan != ''"> and business_plan = #{businessPlan}</if>
            <if test="instanceId != null  and instanceId != ''"> and instance_id = #{instanceId}</if>
            <if test="applyUser != null  and applyUser != ''"> and apply_user = #{applyUser}</if>
            <if test="applyTime != null "> and apply_time = #{applyTime}</if>
        </where>
        order  by create_time desc
    </select>
    
    <select id="selectBizSellById" parameterType="Long" resultMap="BizSellResult">
        <include refid="selectBizSellVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizSell" parameterType="BizSellVo" useGeneratedKeys="true" keyProperty="id">
        insert into biz_sell
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="productName != null  and productName != ''">product_name,</if>
            <if test="sku != null  and sku != ''">sku,</if>
            <if test="marketResearch != null  and marketResearch != ''">market_research,</if>
            <if test="sellingPointAna != null  and sellingPointAna != ''">selling_point_ana,</if>
            <if test="painPointAna != null  and painPointAna != ''">pain_point_ana,</if>
            <if test="sellStrategy != null  and sellStrategy != ''">sell_strategy,</if>
            <if test="keywords != null  and keywords != ''">keywords,</if>
            <if test="fivepoint != null  and fivepoint != ''">fivepoint,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="photoNeed != null  and photoNeed != ''">photo_need,</if>
            <if test="businessPlan != null  and businessPlan != ''">business_plan,</if>
            <if test="instanceId != null  and instanceId != ''">instance_id,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="applyUser != null  and applyUser != ''">apply_user,</if>
            <if test="applyTime != null ">apply_time,</if>
            <if test="attachment != null ">attachment,</if>
            <if test="attachmentName != null ">attachmentName,</if>
            <if test="price != null ">price,</if>
            <if test="product_title != null ">product_title,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="productName != null  and productName != ''">#{productName},</if>
            <if test="sku != null  and sku != ''">#{sku},</if>
            <if test="marketResearch != null  and marketResearch != ''">#{marketResearch},</if>
            <if test="sellingPointAna != null  and sellingPointAna != ''">#{sellingPointAna},</if>
            <if test="painPointAna != null  and painPointAna != ''">#{painPointAna},</if>
            <if test="sellStrategy != null  and sellStrategy != ''">#{sellStrategy},</if>
            <if test="keywords != null  and keywords != ''">#{keywords},</if>
            <if test="fivepoint != null  and fivepoint != ''">#{fivepoint},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="photoNeed != null  and photoNeed != ''">#{photoNeed},</if>
            <if test="businessPlan != null  and businessPlan != ''">#{businessPlan},</if>
            <if test="instanceId != null  and instanceId != ''">#{instanceId},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="applyUser != null  and applyUser != ''">#{applyUser},</if>
            <if test="applyTime != null ">#{applyTime},</if>
            <if test="attachment != null ">#{attachment},</if>
            <if test="attachmentName != null ">#{attachmentName},</if>
            <if test="price != null ">#{price},</if>
            <if test="product_title != null ">#{product_title},</if>
         </trim>
    </insert>

    <update id="updateBizSell" parameterType="BizSellVo">
        update biz_sell
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="productName != null  and productName != ''">product_name = #{productName},</if>
            <if test="sku != null  and sku != ''">sku = #{sku},</if>
            <if test="marketResearch != null  and marketResearch != ''">market_research = #{marketResearch},</if>
            <if test="sellingPointAna != null  and sellingPointAna != ''">selling_point_ana = #{sellingPointAna},</if>
            <if test="painPointAna != null  and painPointAna != ''">pain_point_ana = #{painPointAna},</if>
            <if test="sellStrategy != null  and sellStrategy != ''">sell_strategy = #{sellStrategy},</if>
            <if test="keywords != null  and keywords != ''">keywords = #{keywords},</if>
            <if test="fivepoint != null  and fivepoint != ''">fivepoint = #{fivepoint},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="photoNeed != null  and photoNeed != ''">photo_need = #{photoNeed},</if>
            <if test="businessPlan != null  and businessPlan != ''">business_plan = #{businessPlan},</if>
            <if test="instanceId != null  and instanceId != ''">instance_id = #{instanceId},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="applyUser != null  and applyUser != ''">apply_user = #{applyUser},</if>
            <if test="applyTime != null ">apply_time = #{applyTime},</if>
            <if test="attachment != null and attachment != ''">attachment = #{attachment},</if>
            <if test="attachmentName != null and attachmentName != ''">attachmentName = #{attachmentName},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="product_title != null and product_title != ''">product_title = #{product_title},</if>


            <if test="sell_month != null  and sell_month != ''">sell_month = #{sell_month},</if>
            <if test="sell_count != null ">sell_count = #{sell_count},</if>
            <if test="sell_amount != null ">sell_amount = #{sell_amount},</if>
            <if test="sell_profitRate != null  and sell_profitRate != ''">sell_profitRate = #{sell_profitRate},</if>
            <if test="sell_profit != null ">sell_profit = #{sell_profit},</if>
            <if test="ad_perPrice != null ">ad_perPrice = #{ad_perPrice},</if>
            <if test="ad_tarnsRate != null and ad_tarnsRate != ''">ad_tarnsRate = #{ad_tarnsRate},</if>
            <if test="ad_tarnsCount != null ">ad_tarnsCount = #{ad_tarnsCount},</if>
            <if test="ad_clickRate != null and ad_clickRate != ''">ad_clickRate = #{ad_clickRate},</if>
            <if test="ad_click != null ">ad_click = #{ad_click},</if>
            <if test="ad_exposureRate != null and ad_exposureRate != ''">ad_exposureRate = #{ad_exposureRate},</if>
            <if test="ad_fee != null ">ad_fee = #{ad_fee},</if>
            <if test="ad_perCount != null ">ad_perCount = #{ad_perCount},</if>
            <if test="ad_perClick != null ">ad_perClick = #{ad_perClick},</if>
            <if test="ad_perFee != null ">ad_perFee = #{ad_perFee},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizSellById" parameterType="Long">
        delete from biz_sell where id = #{id}
    </delete>

    <delete id="deleteBizSellByIds" parameterType="String">
        delete from biz_sell where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>